.dokan-cryptopay-modal {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 999999;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
}

.dokan-cryptopay-modal .dokan-cryptopay-modal-content {
    width: auto;
    height: auto;
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    border-radius: 8px;
    min-width: 400px;
}